<div class="formBuscar">
  <form action="/buscar" method="get">
    <label>
      <input class="inputPilcha" type="search" name="pilcha">
    </label>
    <input class="botonBuscar" type="submit" value="Buscar">
  </form>
</div>