<!-- PIE DE PAGINA -->

    <!-- PIESES: CONTIENE 3 BLOQUES... CONTACTO, REDES y RRHH -->
    <div class="pieses">

        <div class="pie">
            <h2>CONTACTO</h2>
            <a href="/nosotros">Sobre Nosotros</a>
            <a href="https://wa.me/543434473010">WhatsApp</a>
            <!-- Colocar un mapa abajo -->
        </div>

        <div class="pie">
            <h2>SEGUINOS EN REDES</h2>
            <a href="https://m.facebook.com/profile.php?id=100054250221768&ref=content_filter">Facebook</a>               
            <a href="#">Instagram</a>
            <!-- <button>Youtube</button> -->
        </div>

        <div class="pie">
            <h2>RRHH</h2>
            <a href="#">Enviar CV</a>
        </div>
        

        <!-- suscripcion -->
        <div class="registro">
            <h2>SUSCRIBITE</h2>
            <form action="/" method="post">
                <div class="formulario">
                    <p>Nombre: </p><input type="Nombre" name="nombre">
                    <p>Email: </p><input type="email" name="email">
                </div>

                <div class="enviar-borrar">
                    <input type="submit" value="Enviar">
                    <input type="reset" value="Borrar">
                </div>
            </form>                
        </div>

    </div>                
