<div class="cabecera">
    <!-- boton movil -->
    <div class="escondido">
        <a href="../registro">
            <img class="esco" src="https://raw.githubusercontent.com/Emaabalo/sonSoles/main/public/images/boton-de-encendido-apagado.jpg" alt="encendido">
        </a>
    </div>
   
   
   
    <!-- logo -->

    <div class="logo">
        <a href="/">
            <img src="https://raw.githubusercontent.com/Emaabalo/sonSoles/main/public/images/logo_bordeado.png" alt="son soles venta online de ropa">
        </a>
    </div>

            
    <!-- BOTONERA PRINCIPAL/CENTRAL: contiene 4 bloques. Cada un contiene el boton y su submenu-->       
    <div class="botones">           

        <nav class="navegador-beba">
            <a class="boton-menu" href="../beba" >Nena</a>
                <ul class="submenu-beba">
                    <li class="detalle">
                        <a href="#">Talles 1 a 3</a>
                    </li>
                    <li class="detalle">
                        <a href="#">Submenu 2</a>
                    </li>
                    <li class="detalle">
                        <a href="#">Submenu 3</a>
                    </li>
                </ul>
        </nav>        
        
        
        <nav class="navegador-bebe">
            <a class="boton-menu" href="../bebe" >Nene</a>
            <ul class="submenu-bebe">
                <li class="detalle">
                    <a href="#">Talles 1 a 3bebe</a>
                </li>
                <li class="detalle">
                    <a href="#">Submenu 2</a>
                </li>
                <li class="detalle">
                    <a href="#">Submenu 3</a>
                </li>
            </ul>
        </nav>
        

        <nav class="navegador-nino">
            <a class="boton-menu" href="../ni単o" >Ni単o</a>
            <ul class="submenu-nino">
                <li class="detalle">
                    <a href="#">Talles 1 a 3nino</a>
                </li>
                <li class="detalle">
                    <a href="#">Submenu 2</a>
                </li>
                <li class="detalle">
                    <a href="#">Submenu 3</a>
                </li>
            </ul>
        </nav>

        
        <nav class="navegador-nina">
            <a class="boton-menu" href="../ni単a" >Ni単a</a>
            <ul class="submenu-nina">
                <li class="detalle">
                    <a href="#">Talles 1 a 3nina</a>
                </li>
                <li class="detalle">
                    <a href="#">Submenu 2</a>
                </li>
                <li class="detalle">
                    <a href="#">Submenu 3</a>
                </li>
            </ul>
        </nav>

    </div><!-- ACA CIERRA BOTONES-->


    <!-- ENLASES (ICONOS ESQUINA SUPERIOR DERECHA): CONTIENE UN BLOQUE CON 4 ENLASES -->
    <div class="enlases">
        <div class="iconos-ubicacion">
            <a href="../buscar">
                <img class="iconos" src="https://raw.githubusercontent.com/Emaabalo/sonSoles/main/public/images/lupa.png" alt="buscar">
            </a>
            <a href="../registro">
                <img class="iconos" src="https://raw.githubusercontent.com/Emaabalo/sonSoles/main/public/images/boton-de-encendido-apagado.jpg" alt="ingrasar a la cuenta o suscribirse">
            </a>
            <a href="../favoritos">
                <img class="iconos" src="https://raw.githubusercontent.com/Emaabalo/sonSoles/main/public/images/pulgares-hacia-arriba.jpg" alt="favoritos">
            </a>
            <a href="../carrito">
                <img class="iconos" src="https://raw.githubusercontent.com/Emaabalo/sonSoles/main/public/images/carro-de-compras-forma-negra.jpg" alt="carrito de compras">
            </a>           
        </div><!-- ACA CIERRA ICONOS-UBICACION-->
    
    </div><!--ACA CIERRA ENLASES-->       
</div><!--ACA CIERRA MENU-->