<!-- NOVEDADES (CARTEL INFERIOR): CONTIENE UN CARTEL CON INFO IMPORTANTE -->
<section>
    <div class="novedades">
        <img src="imagenes/enviosRojo.png" alt="envios gratis">
    </div>  
 </section>