<!-- NOVEDADES (CARTEL INFERIOR): CONTIENE UN CARTEL CON INFO IMPORTANTE -->
<section>
    <div class="novedades">
        <img src="https://raw.githubusercontent.com/Emaabalo/sonSoles/main/public/images/enviosRojo.jpg" alt="envios gratis">
    </div>  
 </section>