<!-- IMAGENES (SLADER): CONTIENE LAS IMAGENES DEL SLADER -->
<div class="imagenes">
    <ul>
        <li> 
            <a href="#">
                <img class="img" src="/public/images/madre-dos.jpg" alt="madre">
            </a>
        </li>

        <li>
            <a href="#">
                <img src="/public/images/dos-nino.jpg" alt="">
            </a>
        </li>
       
        <li>
            <a href="#">
                <img src="/public/images/dos-nino.jpg" alt="">
            </a>
        </li>

        <li> 
            <a href="#">
                <img class="img" src="/public/images/madre-dos.jpg" alt="madre">
            </a>
        </li>
    </ul>

</div><!--ACA CIERRAN LAS IMAGENES -->