<!DOCTYPE html>
<html>
  <head>
    <title>Son Soles</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <%- include('./partials/nav.ejs') %>
    </header>

    <main>
      <%- include('./partials/vidriera.ejs') %>
    </main>

    <section>
      <%- include('./partials/novedades.ejs') %>
    </section>
    
   

  </body>
</html>
