*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}

:root{
  --amarillo: rgb(253, 249, 192);
  --crema: rgb(245, 233, 250);
  --fuente-footer: rgb(39, 54, 73);
}

body{
  /* background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 51%, rgba(248,231,249,1) 100%); */
  background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 51%, rgba(250,158,255,1) 100%);
  font-family: cursive;
}

.h1Principal{
  display: none;
}

/* ###################################################### */
/* CABECERA */

.cabecera{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--gris);
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 2px solid var(--amarillo);
}

.logo{
  display: flex;
  justify-content: start;
  width: 75%;
  background: none;
}

.logo img{
  display: flex;
  text-align: center;
  width: 200px;
}

.botones{
  display: flex;
  justify-content: space-between;    
  width: 100%;
  font-size: 150%;
}

.boton-menu{
  display: flex;
  text-decoration: none;
  color: black;
  background: none;
  font-weight: bold;
  cursor: pointer;
  border: none;
  width: 100%;
}

.submenu-beba{
  display: none;
  background-color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 4%;
  list-style: none;
  width: 100%;  
}

.submenu-bebe{
  display: none;
  background-color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 4%;
  list-style: none;
  width: 100%;
}

.submenu-nino{
  display: none;
  background-color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 4%;
  list-style: none;
  width: 100%;
}

.submenu-nina{
  display: none;
  background-color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 4%;
  list-style: none;
  width: 100%;
}

.detalle a{
  text-decoration: none;
}

.enlases{
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.iconos{
  max-width: 40px;
  padding: 3px;
}

.iconos-ubicacion img:hover{
  transform: rotate(0.1turn);
}


/* ######################   SUB-MENU   ###################### */


.navegador-beba:hover >.submenu-beba{
  display: block;
  position: fixed;
  top: 57px;
  left: 0;
}
.navegador-bebe:hover >.submenu-bebe{
  display: block;
  position: fixed;
  top: 57px;
  left: 0;
}
.navegador-nino:hover >.submenu-nino{
  display: block;
  position: fixed;
  top: 57px;
  left: 0;
}
.navegador-nina:hover >.submenu-nina{
  display: block;
  position: fixed;
  top: 57px;
  left: 0;
}



/* ############################################################### */
/* SLIDER DE IMAGENES */

.imagenes{
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  overflow: hidden;
}

.imagenes ul{
  padding-top: 25px;
  width: 200%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1%;
  animation: slider 10s infinite alternate;
  list-style: none;
}

@keyframes slider{
  0%{margin-left: 0;}
  45%{margin-left: 0;}

  50%{margin-left: -100%;}
  100%{margin-left: -100%;}
}

.imagenes img{
  width: 100%;
  box-shadow: 5px 10px 15px var(--fuente-footer);
}



/* ############################################################### */
/* BOTON CELU */


.escondido{
  display: none;
}



/* ################################################### */
/* NOVEDADES */


.novedades{
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

.novedades img{
  border: 2px solid red;
  width: 100%;
}


/* ################################################## */
/* PIE DE PAGINA */

footer{
  padding-left: 1%;
  padding-right: 1%;
}

footer h2{
  font-family: cursive;
  font-size: 100%;
  font-weight: bold;
  color: red;
  text-align: center;
  padding-bottom: 2%;
}

.pieses{
  display: flex;
  justify-content: space-around;
  background-image: url(https://raw.githubusercontent.com/Emaabalo/sonSoles/main/public/images/ni%C3%B1a-detras.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 6%;
  font-weight: bold;
}

.suscripcion{
  color: var(--fuente-footer);
  font-weight: bold;
}

.pie a{
  color: var(--fuente-footer);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
}

.formulario{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.boton-menu{
  display: flex; 
  width: 100%;
  /* border: 1px solid gray; */
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;  
}


.boton-menu:hover,.iconos:hover{
  background-color: rgb(245, 242, 247);
  border-radius: 10px;
  color: var(--fuente-footer);
  transform: scale(1.2);
  border: 1px solid var(--amarillo);
  box-shadow: 6px 3px 5px rgb(156, 156, 156);
}

.pie a:hover{
  border-radius: 10px;
  color: black;
  transform: scale(1.2);
  text-shadow: 6px 3px 2px rgb(173, 173, 173);
}



/* ######################################################### */
/* MEDIAS */

@media (max-width: 1050px){
  .registro{
    display: none;
  }
  
}

@media (max-width: 750px){    
  .botones{
      display: flex;
      justify-content: space-around; 
      padding-right: 5px;   
      padding-left: 5px;    
  }

  .enlases{
      display: none;
  }
  
  .cabecera{
     
      display: flex;
      justify-content: flex-start;
      height: 100%;
  }   

  .prendasTodas{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
}

/* @media (max-width: 500px){    
  .menu{
      display: flex;
      flex-direction: column;
      align-items: center; 
  }
  
  .logo{
      padding-bottom: 5%;
  }

  
} */


@media (max-width: 750px){
  .cabecera{
      display: flex;
      flex-direction: column;
  }
  


  .enlases{
      display: block;
      margin: auto;      
  }

  .iconos-ubicacion{
    
    display: flex;
    justify-content: space-around;
  }

  .escondido img{
      width: 12%;
  }

  .prendasTodas{
    border: none;
  }
 
  footer{
      font-size: 70%;
  }

  .botones-footer{
      font-size: 70%;
      margin: auto;
  }

  .logo{
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    flex: 1; order: 1;
  }

  .logo a{
    margin: auto;
  }

  .botones{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      padding: 10px;       
  }
  
  .boton-menu{
      display: flex;
      justify-content: center;
      align-items: center;
  }   

  
  /* .pieses{
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    gap: 5%;      
  } */

  .prendasTodas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5%;
  }

  .registroBoton, .suscripcion{
    width: 100%;
  }

  .formulario{
    width: 100%;
  }
}

/* ################################  PRENDAS  ################################### */

.baul {
  padding-bottom: 15%;
  margin: 0 auto;
  max-width: 95%;
  max-height: 700px;
  border: solid rgb(173, 136, 136) 1px;
  overflow: scroll;
  overflow-x: hidden;
}

.prendasTodas {  
  padding: 3%;
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 5%;
  list-style: none;
}

.prendas {
  text-decoration: none;
}

.imagen {
  width: 100%;
  border-radius: 5%;
  box-shadow: 5px 10px 15px var(--fuente-footer);
}

.imagen:hover {
  transform: scale(1.05);
  box-shadow: none;
}

.precio {
  text-align: center;
  padding-bottom: 15px;
  color: rgb(104, 102, 102);
  text-decoration: none;
}


/* ##########################   FORMULARIO PARA BUSCAR   #################### */

.formBuscar{
  
  padding-right: 10px;
  margin: 1% auto;
  display: flex;
  text-align: center;
  justify-content: end; 
}

.botonBuscar{
  margin: 5px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  background-color: rgb(253, 253, 90);
  cursor: pointer;
  border: solid 2px rgb(155, 153, 153);
  border-radius: 3px;
}

.inputPilcha{
  width: 300px;
}


/* ############################### SUSCRIPCION ############################ */

.h1Registro{
  display: none;
}

.registroBoton{
  height: 100%;
  text-align: center;
}


.suscripcion{
  padding: 3%;
  margin: 0 auto;
  width: 50%;
  /* height: 500px; */
  /* background-image: url(https://previews.123rf.com/images/gelpi/gelpi1705/gelpi170500480/78843917-.jpg?fj=1) ; */
  /* background-size: 100%; */
  /* background-repeat: no-repeat; */
  /* box-shadow: 15px 15px 15px 15px 15px white; */
  /* border-style:unset; */
}

.imgNiños{
  text-align: center;
}

.niñosMirando{
  width: 50%;
}

.imgRegistro{
  max-width: 100%;
  opacity: 60%;
}

.h1Registro{
  text-align: center;
}

.enviar-borrar{
  display: flex;
}


.enviar{
  background: none;
  font-weight: bold;
  color: green;
  width: 50%;
  height: 50px;
  margin: 3px;
  padding: 3%

}

.borrar{
  background: none;
  font-weight: bold;

  color: red;
  width: 50%;
  height: 50px;
  margin: 3px;
  padding: 3%
}

.enviar:hover{
  transform: scale(1.05);
  background-color: rgb(255, 233, 233);
}

.borrar:hover{
  transform: scale(1.05);
  background-color: rgb(255, 233, 233);

}




/* ################################## NOSOTROS ################################# */

.bodyNosotros{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(157, 71, 255);
}

.pNosotros{
  max-width: 60%;
  margin: auto;
}

.comienzos, .recorrido, .vision{
  margin: 5%;
}

.h1Nosotros{
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
}

.imgNosotros{
  mix-blend-mode: multiply;
  max-width: 80%;  
}

.imgLocal{
  text-align: center;
  position: sticky;
}

/* #map {
  height: 400px;
  width: 100%;
} */