<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Somos SON SOLES</title>
</head>
<body class="bodyNosotros">
    <h1 class="h1Nosotros">SON SOLES</h1>
    <h2>Comienzos</h2>
    
    <div class="pNosotros">
        <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam in tempora saepe, quas porro enim autem illum eaque, corrupti soluta eligendi ipsam asperiores sit repellendus quae, reprehenderit eius amet! Numquam.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos aut, similique, quaerat amet quod alias est consequatur quisquam cum voluptates esse ipsa? Amet, ab temporibus! Ad fugiat possimus minima vero.</P>
        <h2>Recorrido</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed vero dicta, animi, eveniet officiis, natus dolore neque illum nulla perferendis laborum ipsa possimus commodi eaque. Minima eligendi sit at asperiores.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda facilis, dicta dignissimos fuga sed exercitationem culpa rem necessitatibus, magnam quasi excepturi omnis. Quasi molestiae libero maxime eius quod fuga voluptates?</p>
        <h2>Valores</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium quo accusamus ab laborum rem vel tempore, consequatur quae maxime! Corporis neque odit perferendis voluptate temporibus inventore dicta a minima asperiores!</p>
    </div>
   
    <img class="imgNosotros" src="https://raw.githubusercontent.com/Emaabalo/sonSoles/main/public/images/encabezado.jpg" alt="logo de son soles">
    
</body>
</html>