<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link  rel="icon"   href="https://raw.githubusercontent.com/Emaabalo/sonSoles/main/public/images/sol.png" type="image/png" />
    <title>SON SOLES</title>
</head>
<body class="bodyNosotros">
    
    <nav>
        <%- include('../partials/nav.ejs') %>
    </nav>

    
    <section>
        <div class="imgLocal">
            <img class="imgNosotros" src="https://raw.githubusercontent.com/Emaabalo/sonSoles/main/public/images/encabezado.jpg" alt="logo de son soles">
        </div>
    </section>
    
    <header>
        <h1 class="h1Nosotros">SON SOLES</h1>
    </header>

    <section>
        <article>
            <div class="pNosotros">
                
                <article>
                    <div class="comienzos">
                        <h2>Comienzos</h2>
                        <P>En el a침o 2014 comenzamos a vender ropa a domicilio, a parientes y amigos, trayendo siempre buena calidad. </P>
                        <P>Nacimos desde una necesidad y ahora estamos agradecidos a nuestros clientes por elegirnos siempre.</P>
                    </div>
                </article>

                <article>
                    <div class="recorrido">
                        <h2>Recorrido</h2>
                        <p>Hoy llegamos a ser tres personas en mantener operativo el negocio, proyectando un crecimiento a largo plazo. Primero llegando a sumar un lugar fisico y ahora ya mas establecidos con stock permanente de variedades de modelos de distintas prendas y siempre sumando productosnuevos y a la moda.                            
                        </p>
                        <p>
                            Actualmente nos estamos adaptando a los nuevos tiempos digitales sumando una tienda online que nos dar치 cimientos mas firmes.                            
                        </p>
                    </div>
                </article>

                <article>
                    <div class="vision">
                        <h2>Visi칩n</h2>
                        <p>So침amos con ser una tienda referente de nuestra querida ciudad, estando codo a codo con las grandes marcas. Tenemos un largo camino por recorrer pero con la vista firme en nuestras metas y objetivos.</p>
                    </div>
                </article>

            </div>
        </article>

</section>




  
    

    
        
       

</body>
</html>