<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Registro</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>

    <h1>LOGIN</h1>
    <div class="usuario">
        <div class="login">
            <h2>Ya soy cliente</h2>
            <p>Ingresa con tu mail y tu clave</p>
        
            <form action="usuario">
                <div class="formulario">
                    <p>Email: </p><input type="email">
                    <p>Contaseña: </p><input type="contraseña">
                </div>
        
                <div class="enviar-borrar">
                    <input type="submit" value="Enviar">
                    <input type="reset" value="Borrar">
                </div>
            </form>
        </div>

        <div class="nuevo-usuario">
            <h2>Suscribete para acceder a ofertas exlusivas</h2>
            <button>
                <a href="suscripcion.html">Suscribirse</a>
            </button>

        </div>

    </div>

    <script src="registro.js"></script>
</body>
</html>